<h1>Edit Article</h1>

<br>
<div class="row">
  <%= render 'form' %>
    <div class="col s6">
      <%= link_to '<i class="material-icons">arrow_back</i>'.html_safe, articles_path, class:'btn-floating waves-effect waves-light grey btn tooltipped',
      "data-toggle" => "tooltip", "data-position"=>"bottom", 'data-tooltip'=>"Back to Articles" %></td>
    </div>

  </div>
